<main class="h-[calc(100svh-4.5rem)] grid place-items-center">
  <div
    class="w-full max-w-[30rem] h-full gap-2 max-h-[50rem] flex flex-col items-center justify-center text-center"
  >
    <span class="text-gray-500 text-4xl">Admin Panel </span>
    <span class="text-gray-500">Sign in with your email</span>
    <form
      class="flex flex-col items-center justify-center gap-2 bg-gray-200 w-full max-w-96 h-96"
      (submit)="register($event)"
    >
      <img
        alt="Profile"
        src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png"
        width="100"
        height="100"
      />
      <!-- email -->

      <label class="input input-bordered flex items-center gap-2 w-4/5">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 16 16"
          fill="currentColor"
          class="w-4 h-4 opacity-70"
        >
          <path
            d="M2.5 3A1.5 1.5 0 0 0 1 4.5v.793c.026.009.051.02.076.032L7.674 8.51c.206.1.446.1.652 0l6.598-3.185A.755.755 0 0 1 15 5.293V4.5A1.5 1.5 0 0 0 13.5 3h-11Z"
          ></path>
          <path
            d="M15 6.954 8.978 9.86a2.25 2.25 0 0 1-1.956 0L1 6.954V11.5A1.5 1.5 0 0 0 2.5 13h11a1.5 1.5 0 0 0 1.5-1.5V6.954Z"
          ></path>
        </svg>
        <input type="text" class="grow" placeholder="Email" name="email" />
      </label>
      <!-- username -->


      <label class="input input-bordered flex items-center gap-2 w-4/5">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 16 16"
          fill="currentColor"
          class="w-4 h-4 opacity-70"
        >
          <path
            d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z"
          />
        </svg>
        <input type="text" class="grow" placeholder="Username" name="username"/>
      </label>

      <!-- password -->

      <label class="input input-bordered flex items-center gap-2 w-4/5">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 16 16"
          fill="currentColor"
          class="w-4 h-4 opacity-70"
        >
          <path
            fill-rule="evenodd"
            d="M14 6a4 4 0 0 1-4.899 3.899l-1.955 1.955a.5.5 0 0 1-.353.146H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2.293a.5.5 0 0 1 .146-.353l3.955-3.955A4 4 0 1 1 14 6Zm-4-2a.75.75 0 0 0 0 1.5.5.5 0 0 1 .5.5.75.75 0 0 0 1.5 0 2 2 0 0 0-2-2Z"
            clip-rule="evenodd"
          ></path>
        </svg>
        <input type="password" class="grow" placeholder="Password" name="password" />
      </label>

      @if(errorMessage){
        <span class="text-red-600">{{errorMessage}}</span>
      }
      <button
        class="p-2 w-4/5 bg-blue-500 text-white rounded-md focus:outline-none" type="submit"
      >
        Register
      </button>
    </form>
  </div>
</main>
